<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
             version="2.5" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
 	<display-name>Rotolearn</display-name>
	<context-param>
		<param-name>autor</param-name>
		<param-value>Rotolearn</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>ControladorServlet</servlet-name>
		<servlet-class>es.rotolearn.servlet.ControladorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControladorServlet</servlet-name>
		<url-pattern>*.form</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	
	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
	    <!-- Missing resource -->
	    <error-code>404</error-code>
	    <location>/error404.jsp</location>
	</error-page>
	
	<error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/error500.jsp</location>
	</error-page>
	<resource-ref>
		<description />

		<res-ref-name>jms/cf1.1Ref</res-ref-name>
		<res-type>javax.jms.ConnectionFactory</res-type>
		<res-sharing-scope>Shareable</res-sharing-scope>
		<mapped-name>jms/cf1.1</mapped-name>

	</resource-ref>
	<resource-ref>
		<description />
		<res-ref-name>jms/queue1.1Ref</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-sharing-scope>Shareable</res-sharing-scope>
		<mapped-name>jms/queue1.1</mapped-name>

	</resource-ref>
	
</web-app>