<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
 	<display-name>Rotolearn</display-name>
	<context-param>
		<param-name>autor</param-name>
		<param-value>Rotolearn</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>ControladorServlet</servlet-name>
		<display-name>ControladorServlet</display-name>
		<servlet-class>es.rotolearn.servlet.ControladorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControladorServlet</servlet-name>
		<url-pattern>*.form</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	
	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
	    <!-- Missing resource -->
	    <error-code>404</error-code>
	    <location>/error404.jsp</location>
	</error-page>
	
	<error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/error500.jsp</location>
	</error-page>
	
</web-app>